{% extends 'king_admin/king_admin.html' %}

{% block container %}
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="{% url 'king_admin_index'  %}">首页</a></li>
  <li role="presentation"><a href="{% url 'king_admin_index' %}">ASD</a></li>
  <li role="presentation" class="active"><a href="">AS</a></li>
</ul>
    <div class="bs-example" style="margin: 10px;width: auto">
     <form class="form-horizontal" role="form" method="post">{% csrf_token %}
{#    ???????????????????????????????#}
   {% if form_obj.errors %}
     <div class="alert alert-danger" role="alert">{{ form_obj.errors }}</div>
{#     form中的验证错误等   填写错误的报错提示  forms中自带一些表单验证（必填字段不填field.field.required）#}
     {% endif %}
    {% for field in form_obj %}
      <div class="form-group">
       <label  class="col-sm-2 fieldBox" style="font-weight: normal">
           {% if field.field.required %}
{#               必填字段不为空#}
               <b>{{ field.field.label }} :</b>
           {% else %}
                {{ field.label }} :
           {% endif %}
       </label>
          <div class="col-sm-6 pull-left">
                {{ field }}
          </div>
      </div>
    {% endfor %}
    <div class="form-group ">
          <div class="col-sm-10 ">
            <button type="submit" class="btn btn-success pull-right">Save</button>
          </div>
    </div>
    </form>
    </div>

{% endblock %}